*.pptx
*.DS_Store
*.gslides
dados-pessoais-discentes.csv
03_AM_Supervisionado_Parte_I/
04_AM_Supervisionado_Parte_II/
05_AM_Nao_supervisionado/
06_Redes_Convolucionais/
07 - Aplicações
Template - AM - PPgTI - 2022.1.gslides
ppgti3001_am_c02_02_discentes_analise_scraping.ipynb